@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');


@import "tailwindcss";


.font-cormorant {
    font-family: 'Cormorant Garamond', serif;
}